# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config files
*.ini
*.toml

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment
.Python
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Linux
*.swp
*.swo
